.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding-top: 15px;
}
.jumbotron {
    background-image: url(../img/hero.png);
    background-size: cover;
}
.pricing {
    background-color: #3498db;
    padding: 35px;
    color: #fff;
}
.pricing h4, .pricing small {
    margin-top: 0px;
    color: #fff;
}
.pricing hr {
    border-color: #fff;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:40px !important;}

@media (max-width: 767px) {
.navbar-brand>img {
    padding-top: 10px;
}
}