.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding-top: 15px;
}
.jumbotron {
    background-image: url(../img/hero.png);
    background-size: cover;
}
.pricing {
    background-color: #3498db;
    padding: 35px;
    color: #fff;
}
.pricing h4, .pricing small {
    margin-top: 0px;
    color: #fff;
}
.pricing hr {
    border-color: #fff;
}
.navbar-brand {
    padding-top: 5px;
}
.navbar-brand img {
    width: 130px;
}
.thumbnail {
    margin-bottom: 0px;
}
a:hover, a:focus {
    text-decoration: none;
}
.alert {
    border-radius: 0px;
    margin-bottom: 0px;
}